*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'Blade Runner Movie Font';
    src: url('/public/fonts/BLADRMF_.TTF');
}
:root{
    --white: #fff;
    --blue: #29abe2;
    --deep-blue: #211a4e;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Poppins', sans-serif;
}
body::-webkit-scrollbar {
    width: 8px;
}
body::-webkit-scrollbar-track {
background: var(--white);
}
body::-webkit-scrollbar-thumb {
background-color: #000;
}
/* ------------- */

.btn-whatsapp img{
    width: 60px;
    height: auto;
    position: fixed;
    z-index: 9;
    bottom: 0;
    right: 0;
    margin: 3.5%;
    transition: .5s all;
}
.btn-whatsapp img:hover,
.icons img:hover{
    transform: scale(1.1);
}
h3{
    color: #eee;
    font-size: 18px;
    font-weight: 400;
}
h2{
    color: #eee;
    font-size: 20px;
    font-weight: 500;
}
a{
    text-decoration: none;
    color: #eee;
    font-size: 18px;
}
ul{
    list-style-type: none;
}
h1{
    font-size: 60px;
    font-weight: 500;
    line-height: 60px;
    color: #eee;
}
p{
    line-height: 30px;
    font-size: 17px;
    color: #eee;
}

/*
------------------------------------------------------
HEADER
------------------------------------------------------
*/
.desktop-logo img,
.mobile-logo img{
    width: 120px;
    user-select: none;
    filter: invert(69%) sepia(75%) saturate(4000%) hue-rotate(165deg) brightness(90%) contrast(100%);
}
.mobile-logo img{
    width: 80px;
}
.desktop-logo,
.mobile-logo{
    display: flex;
    flex-direction: row;
    align-items: center;    
}


.desktop-logo h1,
.mobile-logo h1{
    margin-left: -10px;
    font-size: 45px;
    user-select: none;
    font-family: 'Blade Runner Movie Font';
}
.header{
    min-width: 100%;
    position: absolute;
    z-index: 2;
    background: #000;
    height: 110px;
    padding: 1.5rem 0rem 1.5rem 0rem;
    border-bottom: var(--blue) 3px solid;
    animation: border-color;
    animation-timing-function: ease-in;
    animation-duration: 5s;
    animation-delay: 1s;
    animation-fill-mode: backwards;
    animation-iteration-count: infinite;
}
/* Border Animation */
@keyframes border-color {
    0%{
        border-bottom: var(--blue) 3px solid;
    }
    50%{
        border-bottom: #fff 3px solid;
    }
    100%{
        border-bottom: var(--blue) 3px solid;
    }
}

/*
-------------
Desktop
-------------
*/

.navbar-desktop{
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.desktop-link{
    display: flex;
    gap: 20px;
}
.desktop-link .link .item{
    transition: .5s;
    padding: .5rem;
}
.desktop-link:hover li a{
    transform: scale(1.5);
    opacity: 0.2;
    filter: blur(5px);
}
.desktop-link li a:hover{
    opacity: 1;
    filter: blur(0);
}
.desktop-link li a:before{
    content: '';
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background: var(--blue);
    border-radius: 1rem;
    transition: .5s;
    transform: scaleX(0);
    z-index: -1;
}
.desktop-link li a:hover:before{
    transition: transform 0.5s;
    transform:scaleX(1);
}


/* Ajust header spacing */
@media screen and (max-width: 1110px) {

    .navbar-desktop{
        justify-content: space-between;
    }
    .header{
        padding: 1rem 1rem;
    }

}

/*
----------------
Mobile Menu
----------------
*/

.navbar-mobile{
    display: none;
}
.mobile-open{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.mobile-menu{
    display: none;
}
.mobile-link{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    gap: 15px;
}
.link{
    text-align: center;
}
.toggle img{
    width: 35px;
}

@media screen and (max-width: 750px) {
    /* Hidden Desktop Show Mobile*/
    .header{
        height: auto;
    }
    .navbar-desktop{
        display: none;
    }
    .navbar-mobile{
        display: block;
    }
}


/*
------------------------------------------------------
Home Content
------------------------------------------------------
*/


.home-content{
    width: 100%;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(33,26,78,1) 100%);
    position: relative;
    width: 100%;
    height: 850px;
    display: grid;
    grid-template-rows: repeat(10, 56.6px);
    grid-template-columns: repeat(15, 1fr);
}
.home-radius{
    width: 600px;
    height: 600px;
    grid-column: 14;
    grid-row: 4;

}
.home-img{
    width: 100%;
    height: 100%;
    background: var(--blue);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    animation-name: radius-effect;
    animation-timing-function: ease-in-out;
    animation-duration: 9.7s;
    animation-iteration-count: infinite;
    animation-fill-mode: backwards;
    overflow: hidden;
}
.home-img img{
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    width: 93%;
    height: 93%;
    animation-name: radius-effect;
    animation-timing-function: ease-in-out;
    animation-duration: 9.9s;
    animation-iteration-count: infinite;
    animation-fill-mode: backwards;
}
/* Radius Animation */
@keyframes radius-effect {
    0%{
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }
    50%{
        border-radius: 30% 60% 70% 40% / 50% 60%;
    }
    75%{
        border-radius: 50% 60% 40% 35% / 30% 50%;
    }
}

/*
-----------------------TEXT HOME----------------------
*/

.home-text{
    margin: 1rem;
    grid-column: 2/12;
    grid-row: 6;
    display: flex;
    gap: 20px;
    flex-direction: column;
}
.text-projects,
.text-grid,
.text{
    width: 90%;
    height: auto;
    display: flex;
    gap: 20px;
    flex-direction: column;
}
.text .text-circle{
    position: relative;
    z-index: 1;
}
.text .text-circle::before{
    content: '';
    position: absolute;
    top: 0;left: 0;bottom: 0;right: 0;
    width: 130px;
    height: 130px;
    transform: translateX(-25%);
    background: var(--blue);
    z-index: -1;

    border-radius:  40% 50% 50% 60% / 40% 60%;
    animation-name: radius-effect-circle;
    animation-timing-function: ease-in-out;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
}
@keyframes radius-effect-circle {
    0%{
        border-radius:  40% 20% 50% 60% / 20% 60%;
    }
    50%{
        border-radius:  40% 70% 50% 80% / 80% 30% 40% 60%;
    }
    75%{
        border-radius: 60% 30% 80% 30% / 50% 60%;
    }
}
.btn-a{
    text-align: center;
    padding: .2rem;
    width: 200px;
    border-radius: 1rem;
    background: var(--blue);
    color: var(--white);
    font-size: 25px;
    transition: .7s, background-position .5s;
}
.btn-a:hover {
    width: 100%;
    background-position: right;
}

/*
------------------------------------------------
Responsive HOME
------------------------------------------------
*/
@media screen and (max-width: 1165px) {
    .home-radius{
        width: 580px;
        height: 580px;
        grid-column: 8;
        grid-row: 8;
    }
    .text{
        width: 100%;
    }
    .home-text{
        text-align: center;
        grid-column: 2/15;
        grid-row: 4;
    }
    .text .text-circle::before{
        display: none;
    }
    .services-text .text-circle::before{
        display: none;
    }
    .home-text{
        align-items: center;
    }
    .btn-a:hover {
        width: 200px;
    }
    .home-content{
        height: 1200px;
        grid-template-rows: repeat(15, 73.3px);
    }
}
@media screen and (max-width: 1110px) {
    .home-radius{
        width: 550px;
        height: 550px;
        grid-column: 8;
        grid-row: 9;
    }
    .home-text{
        grid-column: 2/15;
        grid-row: 3;
    }

}
@media screen and (max-width: 660px) {
    h1{
        font-size: 45px;
    }
    .home-radius{
        width: 400px;
        height: 400px;
        grid-column: 8;
        grid-row: 12;
    }
    .home-text{
        text-align: center;
        grid-column: 2/15;
        grid-row: 4;
    }
    .home-content{
        height: 1100px;
        grid-template-rows: repeat(10, 56.6px);
        grid-template-columns: repeat(15, 1fr);
    }
}
@media screen and (max-width: 500px) {
    .home-radius{
        width: 400px;
        height: 400px;
        grid-column: 8;
        grid-row: 13;
    }
    .home-text{
        grid-column: 2/15;
        grid-row: 4;
    }
}
@media screen and (max-width: 415px) {
    .home-radius{
        width: 330px;
        height: 330px;
        grid-column: 8;
        grid-row: 15;
    }
}
@media screen and (max-width: 360px) {
    .home-text{
        grid-column: 2/15;
        grid-row: 3;
    }
    .home-radius{
        width: 280px;
        height: 280px;
        grid-column: 8;
        grid-row: 15;
    }
}

/*
-----------------------
-----------------END----------------------
-----------------------
*/

.h1-translate{
    display: block;
}
.services-content{
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: repeat(4, minmax(110px, auto));
    position: relative;
    background: rgba(0, 0, 0, .6);
}
.services-content::before,
.aboutus-content::before{
    content: '';
    top: 0;left: 0;right: 0;bottom: 0;
    position: absolute;
    background-image: url(/public/img/bg.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
}
.services-text,
.aboutus-text{
    margin-top: 2rem;
    margin-left: -1.4rem;
    z-index: 1;
    width: 100%;
    display: flex;
    align-items: flex-end;
    grid-column: 2/12;
    grid-row: 1;
}
.text-circle{
    position: relative;
    z-index: 1;
}
.text-circle::before{
    content: '';
    position: absolute;
    top: 0;left: 0;bottom: 0;right: 0;
    width: 130px;
    height: 130px;
    background: var(--blue);
    transform: translateX(-20%);
    z-index: -1;
    border-radius:  40% 50% 50% 60% / 40% 60%;
    animation-name: radius-effect-circle;
    animation-timing-function: ease-in-out;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
}
.services-text h1{
    color: var(--white);
}
.services-grid{
    z-index: 1;
    grid-row: 3;
    grid-column: 2/15;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 40px;
    align-items: center;
    justify-content: center;
    padding-bottom: 2.5rem;
}
.services-box{
    transition: .5s all;
    grid-column: span 2;
    height: 200px;
    border-radius: .5rem;
    background-color: rgba(33,26,78,.5);
    backdrop-filter: blur(2px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.services-box > h1{
    text-align: center;
    margin: 0 auto;
    font-size: 25px !important;
    font-weight: 400;
    line-height: 30px;
    color: var(--white);
    padding: 1rem;
    transition: .5s all;
}
.services-box h1 span{
    transition: .5s,background-position 0s;
    color: #29abe2;
    transition: .5s all;
}
.text-grid{
    width: 100%;
}
.services-box img{
    width: 80px;
}
.services-box:hover{
    transform: scale(1.05);
    cursor: pointer;
}
.services-box:hover h1{
    color: var(--blue);
}
.services-box:hover span{
    color: var(--white);
}

/*
------------------------------------------------
Responsive SERVICES
------------------------------------------------
*/

@media screen and (max-width: 1165px) {

    .h1-translate{
        display: contents;
    }
    h1{
        line-height: 50px;
    }
    .services-text,
    .text{
        grid-column: 2/15;
        margin-left: -0rem;
        text-align: center;
    }
    .services-grid{
        margin-top: -1.5rem;
    }
}

/*
------------------------------------------------------
Projects Content
------------------------------------------------------
*/

.contact{
    width: 100%;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(33,26,78,1) 100%);
    height: 1200px;
    display: grid;
    grid-template-rows: 56.6px repeat(14, 100px) ;
    grid-template-columns: repeat(15, 1fr);
}
.contact-text{
    z-index: 1;
    width: 100%;
    display: flex;
    align-items: flex-end;
    grid-column: 3/12;
    grid-row: 2;
}
.contact .text-circle::before{
    width: 80px;
    height: 80px;
}
.contact-info{
    width: 100%;
    grid-column: 8;
    grid-row: 8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.info-text h2{
    font-size: 25px;
    color: #eee;
    margin-bottom: 1.5rem;
}
.info-text h2 span{
    color: var(--blue);
    font-size: 18px;
}
.info-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);
    justify-items: center;
    align-items: center;
    gap: 50px;
}
.illus{
    grid-column: 2;
    grid-row: 3;
}
.info-footer{
    grid-column: 2;
    grid-row: 2;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.info-footer a{
    width: 230px !important;
}
.info-box{
    width: 300px;
    height: 200px;
    padding: 1rem;
    border: 1px solid var(--blue);
    border-radius: .5rem;
    backdrop-filter: blur(2px);
}
.info-box img{
    width: 80px;
    animation-name: moveIcon;
    animation-duration: 7.5s;
    animation-iteration-count: infinite;
    animation-fill-mode: backwards;
    animation-play-state: running;
}
@keyframes moveIcon {
    0% {transform: translateY(0%);}
    50% {transform: translateY(-20%);}
}
.info-grid .illus{
    width: 500px;
}


@media screen and (max-width: 1180px) {
    .contact{
        height: 1300px;
    }
    .contact-text{
        grid-column: 2/15;
    }
    .contact-info{
        margin-top: 5rem;
        grid-column: 2/15;
        grid-row: 8;
        justify-content: center;
        align-items: center;
    }
    .info-text{
        text-align: center;
    }
    .info-grid{
        grid-template-columns: repeat(2, 300px);
        display: grid;
        grid-template-areas:
        "box1   box2"
        "box3   box4"
        "box5   box5"
        "infofooter   illus";
    }
    .box1{
        grid-area: box1;
    }
    .box2{
        grid-area: box2;
    }
    .box3{
        grid-area: box3;
    }
    .box4{
        grid-area: box4;
    }
    .box5{
        grid-area: box5;
    }
    .info-footer{
        grid-area: infofooter;

    }
    .illus{
        grid-area: illus;
    }
    .info-grid .illus{
        width: 300px;
    }
}
@media screen and (max-width: 670px) {
    .info-grid{
        grid-template-columns: repeat(1, 300px);
        display: grid;
        grid-template-areas:
        "box1"
        "box2"
        "box3"
        "box4"
        "box5"
        "infofooter"
        "illus";
    }
    .contact-info{
        margin-top: 8rem;
        grid-column: 2/15;
        grid-row: 11;
    }
    .contact{
        height: 2000px;
    }
}
@media screen and (max-width: 550px) {
    .contact-info{
        grid-column: 2/15;
        grid-row: 12;
    }
    .contact{
        height: 2100px;
        grid-template-rows: 56.6px 24px repeat(14, 100px) ;
    }
    .contact-text{
        grid-row: 3;
    }
    .text-projects,
    .text-grid,
    .text{
         width: 100%;
         gap: 5px;
    }
    .text-projects p,
    .text-grid p,
    .text p{
         font-size: 16px;
         line-height: 25px;
    }
    .info-text h2   {
        font-size: 22px;
    }
    .info-text h2 span{
        display: block;
        font-size: 16px;
        line-height: 25px;
    }
    .btn-whatsapp img{
        width: 50px;
        height: auto;
    }
}

/*
-----------------------------------------------------------------------------
About US
-----------------------------------------------------------------------------
*/

.aboutus-text .text-circle::before{
    content: '';
    position: absolute;
    top: 0;left: 0;bottom: 0;right: 0;
    width: 80px;
    height: 80px;
    background: var(--blue);
    transform: translateX(-20%);
    z-index: -1;
    border-radius:  40% 50% 50% 60% / 40% 60%;
    animation-name: radius-effect-circle;
    animation-timing-function: ease-in-out;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
}
.aboutus-content .aboutus-text{
    grid-row: 2;
    grid-column: 2/15;
}

.about-text{
    grid-column:2/15;
    grid-row: 4;
    display: flex;
    height: 400px;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: .5s all;
    border-radius: .5rem;
}

.about-text p{
    font-size:  25px;
    line-height: 50px;
    padding: 1rem;    
    background-color: rgba(33,26,78,.5);
    backdrop-filter: blur(2px);
}
.aboutus-content{
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: 56px repeat(10, 50px);
    position: relative;
    background: rgba(0, 0, 0, .6);
}
.services-box > h1{
    text-align: center;
    margin: 0 auto;
    font-size: 25px !important;
    font-weight: 400;
    line-height: 30px;
    color: var(--white);
    padding: 1rem;
    transition: .5s all;
}


@media screen and  (max-width: 1100px ) {
    .aboutus-content{
        height: 700px;
    }
    
    .about-text{
        grid-column: 2/15;
        grid-row: 5;
    }
    .aboutus-content .aboutus-text{
        grid-row: 3;
        grid-column: 2/16;
    }
}

@media screen and  (max-width: 860px ) {
    .aboutus-content{
        height: 700px;
    }
    
    .about-text{
        grid-column:2/15;
        grid-row: 5;
    }
    .aboutus-content .aboutus-text{
        grid-row: 3;
        grid-column: 2/16;
    }
    
}
@media screen and  (max-width: 560px ) {
    .aboutus-content{
        height: 900px;
    }
    
    .about-text{
        grid-column:2/15;
        grid-row: 8;
    }
    .aboutus-content .aboutus-text{
        grid-row: 3;
        grid-column: 2/16;
    }
}
@media screen and  (max-width: 395px ) {
    .aboutus-content{
        height: 1100px;
    }
    .aboutus-content .aboutus-text{
        grid-row: 4;
        grid-column: 4/16;
    }
    .about-text{
        margin-top: 3.5rem;
        grid-column: 2/15;
        grid-row: 10;
    }
    .footer-contact a{
        font-size: 16px;
    }
}
@media screen and  (max-width: 325px ) {
    .aboutus-content{
        height: 1200px;
    }
}
/*
-----------------------------------------------------------------------------
FOOTER
-----------------------------------------------------------------------------
*/

.footer{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.footer-icons{
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding: 1rem;
}
.footer-icons img{
    width: 40px;
}
.icons{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icons img{
    transition: .5s all;
}
.footer-nav ul{
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding-bottom: 1rem;
}
.footer-nav ul li a{
    color: #000;
    font-size: 20px;
    font-weight: 500;
}
.footer-logo{
    background: #000;
    width: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem;
}
.footer-logo .mobile-logo h1{
    animation-name: footerIcon;
    color: var(--blue);
    animation-timing-function: ease-in;
    animation-duration: 8s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}
@keyframes footerIcon {
    0% {
        color: var(--blue);
    }
    25% {
        color: var(--white);
    }
    50% {
        color: var(--deep-blue);
    }
    75% {
        color: var(--white);
    }
    100% {
        color: var(--blue);
    }
}
.footer-contact{
    background: #000;
    width: 100%;
    padding: .5rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 5px;
}
.footer-contact a,
.footer-nav a{
    transition: .5s all;
}
.footer-contact a:hover,
.footer-nav a:hover{
    color: var(--blue);
}
@media screen and (max-width: 480px) {
    .footer-nav ul{
        display: grid;
        row-gap: 20px;
        column-gap: 40px;
        grid-template-areas: 
        "ini servis"
        "conta us";
    }
    .ini{
        grid-area: ini;
    }
    .servis{
        grid-area: servis;
    }
    .conta{
        grid-area: conta;
    } 
    .us{
        grid-area: us;
    }
    
    .footer-nav ul{
        flex-direction: column;
    }
    .footer-nav hr{
        display: none;
    }
}

